streamlit
google-generativeai
Pillow
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
vertexai
streamlit-calendar
streamlit-authenticator
PyYAML
google-cloud-aiplatform
firebase-admin
Pyrebase4